fastapi
uvicorn
streamlit
streamlit-webrtc
streamlit-calendar
google-generativeai
google-cloud-speech
google-auth
google-auth-oauthlib
google-api-python-client
pydub
pytz
pydantic
aiofiles
cachetools
av
numpy
requests